@font-face {
  font-family: 'Monument Extended';
  src: url("/fonts/MonumentExtended-Ultrabold.otf"); }

@font-face {
  font-family: 'Monument Extended Reg';
  src: url("/fonts/MonumentExtended-Regular.otf"); }

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }
  @media only screen and (max-width: 100em) {
    html {
      font-size: 60%; } }
  @media only screen and (max-width: 75em) {
    html {
      font-size: 55%; } }

body {
  font-family: "Roboto", sans-serif;
  color: #e7e7e7;
  font-weight: 400;
  line-height: 1.6;
  background-color: #070707; }

/* Change autocomplete styles in WebKit */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-text-fill-color: #e7e7e7;
  transition: background-color 5000s ease-in-out 0s; }

select {
  border: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -ms-appearance: none;
  /* get rid of default appearance for IE8, 9 and 10*/ }

.logo {
  height: 100%;
  width: 100%;
  z-index: 2010; }
  .logo__img {
    margin-top: 5rem;
    height: 3rem;
    width: auto;
    display: none; }
    @media only screen and (max-width: 62.5em) {
      .logo__img {
        display: block;
        height: 3rem; } }

.container {
  display: grid;
  grid-template-rows: 100vh repeat(5, min-content);
  grid-template-columns: 15vw repeat(4, 1fr) 15vw;
  z-index: -2000 !important; }
  @media only screen and (max-width: 100em) {
    .container {
      grid-template-columns: 10vw repeat(4, 1fr) 10vw; } }
  @media only screen and (max-width: 75em) {
    .container {
      grid-template-columns: 8vw repeat(4, minmax(min-content, 1fr)) 8vw; } }
  @media only screen and (max-width: 62.5em) {
    .container {
      grid-template-columns: 8vw repeat(2, minmax(min-content, 1fr)) 8vw; } }
  .container__rule {
    display: block;
    width: 100%;
    height: 100%;
    grid-row: 1 / -1;
    background-color: #070707; }
    .container__rule:not(:last-of-type) {
      border-right: solid 1px #161616; }
    .container__rule__1 {
      grid-column: 1 / 2;
      z-index: 3; }
    .container__rule__2 {
      grid-column: 2 / 3; }
    .container__rule__3 {
      grid-column: 3 / 4; }
    .container__rule__4 {
      grid-column: 4 / 5; }
    .container__rule__5 {
      grid-column: 5 / 6; }
      @media only screen and (max-width: 62.5em) {
        .container__rule__5 {
          display: none; } }
    .container__rule__6 {
      grid-column: 6 / 7; }
      @media only screen and (max-width: 62.5em) {
        .container__rule__6 {
          display: none; } }

.sidebar {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: min-content; }
  .sidebar__main {
    grid-row: 1 / 2;
    top: 5rem;
    position: fixed;
    left: 3rem;
    z-index: 10; }
    @media only screen and (max-width: 62.5em) {
      .sidebar__main {
        visibility: hidden;
        opacity: 0; } }
    .sidebar__main__logo {
      height: auto;
      max-width: 3vh; }
  .sidebar__menu {
    display: flex;
    align-items: center;
    cursor: pointer;
    position: fixed;
    top: 47%;
    left: 2.5rem;
    z-index: 20; }
    @media only screen and (max-width: 62.5em) {
      .sidebar__menu {
        left: 0;
        padding: 0 calc(8vw / 2 - 8px); } }
    .sidebar__menu:hover .sidebar__menu__menu {
      color: #8f8f8f; }
    .sidebar__menu__menu {
      color: #e7e7e7;
      text-decoration: none;
      margin: .5rem 0 0 1rem;
      font-size: 1.1rem;
      letter-spacing: .1rem;
      transition: color .2s; }
      @media only screen and (max-width: 75em) {
        .sidebar__menu__menu {
          display: none; } }
    .sidebar__menu__icon {
      cursor: pointer; }
      .sidebar__menu__icon__main {
        position: relative;
        transform: rotate(90deg); }
      .sidebar__menu__icon__main, .sidebar__menu__icon__main::before, .sidebar__menu__icon__main::after {
        width: 3rem;
        height: 1.5px;
        background-color: #e7e7e7;
        display: inline-block; }
        @media only screen and (max-width: 62.5em) {
          .sidebar__menu__icon__main, .sidebar__menu__icon__main::before, .sidebar__menu__icon__main::after {
            width: 2rem; } }
      .sidebar__menu__icon__main::before, .sidebar__menu__icon__main::after {
        content: "";
        position: absolute;
        top: 0; }
      .sidebar__menu__icon__main::before {
        top: .8rem; }
      .sidebar__menu__icon__main::after {
        top: -.8rem; }
  .sidebar__social {
    grid-row: 3 / 4;
    align-self: end;
    position: fixed;
    bottom: 5rem;
    left: 3rem;
    z-index: 10; }
    @media only screen and (max-width: 62.5em) {
      .sidebar__social {
        visibility: hidden;
        opacity: 0; } }
    .sidebar__social__icons {
      list-style: none; }
      .sidebar__social__icons li:not(:last-child) {
        margin: 2rem 0; }
      .sidebar__social__icons li:hover a {
        color: #8f8f8f; }
      .sidebar__social__icons a {
        font-size: 1.4rem;
        color: #e7e7e7;
        display: block;
        text-transform: uppercase;
        letter-spacing: .3rem;
        transition: color .2s; }

.heading-big {
  font-size: 17rem;
  line-height: .8;
  font-weight: 300;
  text-transform: uppercase; }
  .heading-big--light {
    color: #e7e7e7; }
  .heading-big--dark {
    color: #8f8f8f; }
  @media only screen and (max-width: 100em) {
    .heading-big {
      font-size: 14rem; } }
  @media only screen and (max-width: 62.5em) {
    .heading-big {
      font-size: 9rem;
      line-height: 1; } }
  @media only screen and (max-width: 37.5em) {
    .heading-big {
      font-size: 5rem; } }

.heading-1 {
  font-size: 12rem;
  font-weight: 300;
  line-height: .9; }
  .heading-1--light {
    color: #e7e7e7; }
  .heading-1--dark {
    color: #070707;
    font-weight: 800; }
  @media only screen and (max-width: 62.5em) {
    .heading-1 {
      font-size: 9rem;
      line-height: 1; } }
  @media only screen and (max-width: 37.5em) {
    .heading-1 {
      font-size: 5rem; } }

.heading-2 {
  font-size: 2.5rem;
  font-weight: 400;
  line-height: 1.2; }

.heading-3 {
  font-size: 1.7rem;
  font-weight: 300;
  letter-spacing: .1rem;
  line-height: 1.4; }
  .heading-3--dark {
    color: #8f8f8f;
    font-size: 1.3rem;
    font-weight: 300;
    letter-spacing: normal; }
  .heading-3--2 {
    font-weight: 400;
    text-transform: uppercase; }

.heading-4 {
  font-size: 4rem;
  font-weight: 300;
  letter-spacing: .1rem;
  line-height: 1.2; }
  .heading-4--light {
    color: #e7e7e7; }
  .heading-4--dark {
    color: #8f8f8f; }
  @media only screen and (max-width: 37.5em) {
    .heading-4 {
      font-size: 2.5rem; } }

.heading-5 {
  font-size: 1.3rem;
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: .3rem;
  color: #e7e7e7; }

.btn {
  border: none;
  border-radius: none;
  padding: 2rem 3rem;
  font-size: 1.1rem;
  text-transform: uppercase;
  font-weight: 500;
  font-family: "Roboto", sans-serif;
  letter-spacing: .2rem;
  cursor: pointer;
  transition: border 1s, color 1s, background-color 1s; }
  .btn--light {
    background-color: #070707;
    color: #e7e7e7;
    border: solid 1px #e7e7e7;
    position: relative; }
    .btn--light:hover {
      color: #070707;
      border: solid 1px #e7e7e7; }
    .btn--light::before {
      transition: 0.5s left, 0.5s right, 0.5s opacity;
      position: absolute;
      top: 0;
      left: 50%;
      right: 50%;
      bottom: 0;
      opacity: 0;
      content: '';
      background-color: #e7e7e7;
      z-index: -1; }
    .btn--light:hover::before {
      left: 0%;
      right: 0%;
      opacity: 1;
      transition: 0.5s left, 0.5s right, 0.5s opacity; }
    .btn--light span {
      margin-left: 2rem;
      font-weight: 700; }
  .btn--dark {
    background-color: transparent;
    color: #e7e7e7;
    border: solid 1px #e7e7e7;
    padding: 1.5rem 1.5rem;
    font-size: 2rem;
    line-height: 1;
    position: relative; }
    .btn--dark:hover {
      color: #070707;
      border: solid 1px #161616; }
    .btn--dark::before {
      position: absolute;
      content: "";
      right: 50%;
      left: 50%;
      top: 0;
      bottom: 0;
      opacity: 0;
      z-index: -1;
      transition: 0.5s left, 0.5s right, 0.5s opacity;
      background-color: #e7e7e7; }
    .btn--dark:hover::before {
      left: 0;
      right: 0;
      opacity: 1;
      transition: 0.5s left, 0.5s right, 0.5s opacity; }

.para {
  font-weight: 300;
  padding-right: 1.5vw;
  color: #8f8f8f; }
  .para--small {
    font-size: 1.5rem;
    letter-spacing: 1px;
    padding-right: 2vw;
    line-height: 2; }
  .para--medium {
    font-size: 1.4rem;
    letter-spacing: 1px;
    padding-right: 2vw;
    line-height: 1.7; }
    @media only screen and (max-width: 62.5em) {
      .para--medium {
        padding-right: 5vw; } }

.home {
  grid-column: 2 / 6;
  grid-row: 1 / 2;
  display: grid;
  grid-template-rows: repeat(4, min-content);
  grid-template-columns: repeat(4, 1fr);
  grid-row-gap: 5rem;
  align-self: center;
  z-index: 1; }
  @media only screen and (max-width: 62.5em) {
    .home {
      grid-template-columns: repeat(2, 1fr);
      grid-column: 2 / 4; } }
  @media only screen and (max-width: 37.5em) {
    .home {
      padding: 14rem 0 10rem 0;
      grid-row-gap: 4vh; } }
  .home__para {
    grid-row: 3 / 4;
    grid-column: 4 / 5;
    align-self: center;
    z-index: 1; }
    @media only screen and (max-width: 62.5em) {
      .home__para {
        grid-row: 3 / 4;
        grid-column: 1 / 2; } }
  .home__bar {
    display: block;
    height: .1rem;
    width: 100%;
    background-color: #161616;
    margin-bottom: 4rem; }
    @media only screen and (max-width: 37.5em) {
      .home__bar {
        display: none;
        margin-bottom: 0; } }
  .home__btn {
    grid-row: 4 / 5;
    grid-column: 1 / 2;
    align-self: center;
    justify-self: start; }
    @media only screen and (max-width: 37.5em) {
      .home__btn {
        grid-row: 4 / 5;
        grid-column: 1 / 3;
        margin-top: 3vh; } }
  .home__text {
    display: grid;
    align-self: start;
    grid-row: 3 / 4;
    grid-column: 1 / 3; }
    @media only screen and (max-width: 62.5em) {
      .home__text {
        grid-column: 1 / 2; } }
    @media only screen and (max-width: 37.5em) {
      .home__text {
        grid-column: 1 / 3; } }
  .home__h1 {
    align-self: center;
    grid-row: 2 / 3;
    grid-column: 1 / 4;
    position: relative; }
    @media only screen and (max-width: 62.5em) {
      .home__h1 {
        grid-row: 2 / 3;
        grid-column: 1 / 3;
        align-self: center; } }
    .home__h1__2 {
      padding-bottom: 1.5rem; }
  .home__plus {
    color: #e7e7e7;
    font-weight: 300; }
    @media only screen and (max-width: 62.5em) {
      .home__plus {
        font-size: 7rem; } }
    @media only screen and (max-width: 37.5em) {
      .home__plus {
        font-size: 5rem; } }
  .home__main {
    display: block;
    align-self: end;
    grid-row: 1 / 2;
    grid-column: 1 / 2;
    position: relative; }
    @media only screen and (max-width: 37.5em) {
      .home__main {
        grid-column: 1 / 3;
        padding: 0 0; } }

.home__image {
  grid-column: 4 / 6;
  grid-row: 1 / 2;
  overflow: hidden;
  padding: 14rem 0; }
  @media only screen and (max-width: 62.5em) {
    .home__image {
      grid-column: 3 / 4;
      padding: 0; } }

.home__img {
  width: 100%;
  height: 100%;
  position: relative; }
  .home__img__main {
    height: 100%;
    width: 100%;
    object-fit: cover; }
    @media only screen and (max-width: 62.5em) {
      .home__img__main {
        filter: opacity(0.1); } }

.right {
  grid-column: 6 / 7;
  grid-row: 1 / 2;
  display: grid;
  grid-template-rows: repeat(3, minmax(min-content, 1fr));
  grid-template-columns: max-content; }
  @media only screen and (max-width: 62.5em) {
    .right {
      display: none; } }
  .right__scroll {
    grid-row-gap: 4rem;
    display: grid;
    align-items: center;
    cursor: pointer;
    position: fixed;
    bottom: 5rem;
    right: 1rem;
    justify-self: end;
    z-index: 10; }
    @media only screen and (max-width: 62.5em) {
      .right__scroll {
        display: none; } }
    .right__scroll__text {
      font-size: 1.2rem;
      letter-spacing: .1rem;
      transition: all .2s;
      transform: rotate(-90deg);
      line-height: 1; }
    .right__scroll__arrow {
      transform: rotate(90deg);
      line-height: 1;
      transition: all .2s; }
  .right__hello {
    transition: all .3s;
    color: #e7e7e7;
    font-size: 1.5rem;
    font-weight: 500;
    transform: rotate(-90deg);
    cursor: pointer;
    position: fixed;
    top: 7rem;
    right: 1rem;
    z-index: 10;
    text-decoration: underline; }
    @media only screen and (max-width: 62.5em) {
      .right__hello {
        display: none; } }
    .right__hello:hover .right__hello__link {
      color: #8f8f8f; }
    .right__hello__link {
      text-decoration: none;
      color: #e7e7e7;
      transition: all 1s; }

.about {
  padding: 20vh 0;
  grid-column: 2 / 6;
  grid-row: 2 / 3;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, min-content); }
  @media only screen and (max-width: 62.5em) {
    .about {
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(3, min-content);
      grid-row-gap: 7rem;
      grid-column: 2 / 4; } }
  @media only screen and (max-width: 37.5em) {
    .about {
      padding: 5rem 0;
      grid-row-gap: 4rem;
      grid-template-rows: repeat(4, min-content); } }
  .about__head {
    grid-column: 1 / 4;
    grid-row: 1 / 2;
    z-index: 2; }
    @media only screen and (max-width: 62.5em) {
      .about__head {
        grid-column: 1 / 3;
        grid-row: 1 / 2; } }
  .about__btn {
    justify-self: start;
    margin-top: 1vh; }
  .about__text {
    grid-row: 1 / 2;
    grid-column: 4 / 5;
    align-self: center;
    display: grid;
    grid-row-gap: 2rem; }
    @media only screen and (max-width: 62.5em) {
      .about__text {
        grid-column: 1 / 3;
        grid-row: 2 / 3; } }
  .about__text__2 {
    grid-row: 3 / 4;
    grid-column: 1 / 2;
    align-self: end;
    display: grid;
    grid-template-rows: repeat(2, min-content);
    grid-row-gap: 2rem; }
    @media only screen and (max-width: 62.5em) {
      .about__text__2 {
        grid-column: 1 / 2;
        grid-row: 3 / 4; } }
    @media only screen and (max-width: 37.5em) {
      .about__text__2 {
        grid-column: 1 / 3;
        grid-row: 4 / 5; } }
  .about__img {
    grid-column: 2 / 5;
    grid-row: 2 / 4;
    width: 100%;
    height: 60rem;
    overflow: hidden;
    backface-visibility: hidden;
    padding: 0 1px 0 0; }
    @media only screen and (max-width: 62.5em) {
      .about__img {
        height: 40rem;
        grid-column: 2 / 3;
        grid-row: 3 / 4; } }
    @media only screen and (max-width: 37.5em) {
      .about__img {
        grid-column: 1 / 3;
        grid-row: 3 / 4; } }
    .about__img__main {
      width: 100%;
      height: 100%;
      object-fit: cover; }

.skills {
  padding: 20vh 0;
  grid-column: 2 / 6;
  grid-row: 3 / 4;
  display: grid;
  grid-row-gap: 8rem;
  grid-template-rows: repeat(2, min-content);
  grid-template-columns: repeat(4, 1fr); }
  @media only screen and (max-width: 62.5em) {
    .skills {
      grid-template-rows: repeat(3, min-content);
      grid-template-columns: repeat(2, 1fr);
      grid-column: 2 / 4; } }
  @media only screen and (max-width: 37.5em) {
    .skills {
      grid-template-rows: repeat(5, min-content);
      grid-row-gap: 4rem;
      padding: 10vh 0 5vh 0; } }
  .skills__bar {
    display: block;
    height: .2rem;
    width: 100%;
    background-color: #161616;
    margin: 1rem 0; }
    .skills__bar__1::after {
      display: block;
      content: "";
      position: relative;
      width: 90%;
      height: .2rem;
      background-color: #e7e7e7; }
    .skills__bar__2::after {
      display: block;
      content: "";
      position: relative;
      width: 85%;
      height: .2rem;
      background-color: #e7e7e7; }
    .skills__bar__3::after {
      display: block;
      content: "";
      position: relative;
      width: 75%;
      height: .2rem;
      background-color: #e7e7e7; }
    .skills__bar__4::after {
      display: block;
      content: "";
      position: relative;
      width: 98%;
      height: .2rem;
      background-color: #e7e7e7; }
  .skills__h2 {
    grid-column: 1 / 5;
    grid-row: 1 / 2;
    margin-bottom: 5rem; }
    @media only screen and (max-width: 62.5em) {
      .skills__h2 {
        grid-column: 1 / 3;
        grid-row: 1 / 2;
        margin-bottom: 0rem; } }
  .skills__item {
    display: grid;
    grid-row-gap: 2rem;
    grid-template-rows: repeat(4, min-content); }
    .skills__item__1 {
      grid-row: 2 / 3;
      grid-column: 1 / 2; }
      @media only screen and (max-width: 62.5em) {
        .skills__item__1 {
          grid-column: 1 / 2;
          grid-row: 2 / 3; } }
      @media only screen and (max-width: 37.5em) {
        .skills__item__1 {
          grid-column: 1 / 3;
          grid-row: 2 / 3; } }
    .skills__item__2 {
      margin-top: 11rem;
      grid-row: 2 / 3;
      grid-column: 2 / 3; }
      @media only screen and (max-width: 62.5em) {
        .skills__item__2 {
          margin-top: 0;
          grid-row: 2 / 3;
          grid-column: 2 / 3; } }
      @media only screen and (max-width: 37.5em) {
        .skills__item__2 {
          grid-row: 3 / 4;
          grid-column: 1 / 3; } }
    .skills__item__3 {
      grid-row: 2 / 3;
      grid-column: 3 / 4; }
      @media only screen and (max-width: 62.5em) {
        .skills__item__3 {
          grid-row: 3 / 4;
          grid-column: 1 / 2; } }
      @media only screen and (max-width: 37.5em) {
        .skills__item__3 {
          grid-row: 4 / 5;
          grid-column: 1 / 3; } }
    .skills__item__4 {
      margin-top: 11rem;
      grid-row: 2 / 3;
      grid-column: 4 / 5; }
      @media only screen and (max-width: 62.5em) {
        .skills__item__4 {
          grid-row: 3 / 4;
          grid-column: 2 / 3;
          margin-top: 0; } }
      @media only screen and (max-width: 37.5em) {
        .skills__item__4 {
          grid-row: 5 / 6;
          grid-column: 1 / 3; } }

.works {
  grid-column: 2 / 6;
  grid-row: 4 / 5;
  display: grid;
  grid-template-rows: repeat(4, min-content);
  grid-template-columns: repeat(4, 1fr);
  grid-row-gap: 10vh;
  padding-bottom: 20vh; }
  @media only screen and (max-width: 62.5em) {
    .works {
      grid-template-columns: repeat(2, 1fr);
      grid-column: 2 / 4; } }
  @media only screen and (max-width: 37.5em) {
    .works {
      grid-row-gap: 2rem;
      padding-bottom: 5vh; } }
  .works__bar {
    display: block;
    height: 1px;
    width: 100%;
    background-color: #161616;
    grid-column: 1 / 5;
    grid-row: 1 / 2;
    margin-bottom: 5rem; }
  .works__btn {
    justify-self: start; }
  .works__container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, min-content);
    grid-row-gap: 20rem;
    grid-column: 1 / 5;
    grid-row: 4 / 5;
    padding: 0 1px 0 0; }
    @media only screen and (max-width: 62.5em) {
      .works__container {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(6, min-content);
        grid-column: 1 / 3; } }
    @media only screen and (max-width: 37.5em) {
      .works__container {
        grid-row-gap: 5rem; } }
  .works__text {
    align-self: center;
    max-width: 25rem;
    justify-self: center;
    display: grid;
    grid-row-gap: 2rem;
    padding: 0 2vw;
    z-index: 2;
    cursor: pointer;
    transition: all .2s; }
    @media only screen and (max-width: 37.5em) {
      .works__text {
        justify-self: start;
        max-width: 35rem;
        padding: 0 2rem; } }
    .works__text__1 {
      grid-column: 1 / 2;
      grid-row: 1 / 2; }
      @media only screen and (max-width: 62.5em) {
        .works__text__1 {
          grid-column: 2 / 3;
          grid-row: 1 / 2; } }
      @media only screen and (max-width: 37.5em) {
        .works__text__1 {
          grid-column: 1 / 3; } }
    .works__text__2 {
      grid-column: 2 / 3;
      grid-row: 2 / 3;
      align-self: start; }
      @media only screen and (max-width: 62.5em) {
        .works__text__2 {
          grid-column: 2 / 3;
          grid-row: 2 / 3;
          align-self: center; } }
      @media only screen and (max-width: 37.5em) {
        .works__text__2 {
          grid-column: 1 / 3; } }
    .works__text__3 {
      grid-column: 4 / 5;
      grid-row: 2 / 3;
      align-self: start; }
      @media only screen and (max-width: 62.5em) {
        .works__text__3 {
          grid-column: 2 / 3;
          grid-row: 3 / 4;
          align-self: center; } }
      @media only screen and (max-width: 37.5em) {
        .works__text__3 {
          grid-column: 1 / 3; } }
    .works__text__4 {
      grid-column: 1 / 2;
      grid-row: 3 / 4; }
      @media only screen and (max-width: 62.5em) {
        .works__text__4 {
          grid-column: 2 / 3;
          grid-row: 4 / 5;
          align-self: center; } }
      @media only screen and (max-width: 37.5em) {
        .works__text__4 {
          grid-column: 1 / 3; } }
    .works__text__5 {
      grid-column: 2 / 3;
      grid-row: 4 / 5;
      align-self: start; }
      @media only screen and (max-width: 62.5em) {
        .works__text__5 {
          grid-column: 2 / 3;
          grid-row: 5 / 6;
          align-self: center; } }
      @media only screen and (max-width: 37.5em) {
        .works__text__5 {
          grid-column: 1 / 3; } }
    .works__text__6 {
      grid-column: 4 / 5;
      grid-row: 4 / 5;
      align-self: start; }
      @media only screen and (max-width: 62.5em) {
        .works__text__6 {
          grid-column: 2 / 3;
          grid-row: 6 / 7;
          align-self: center; } }
      @media only screen and (max-width: 37.5em) {
        .works__text__6 {
          grid-column: 1 / 3; } }
  .works__img {
    width: 100%;
    height: 55rem;
    cursor: pointer;
    overflow: hidden;
    backface-visibility: hidden; }
    .works__img:hover img {
      transform: scale(1.07, 1.07);
      filter: grayscale(100%);
      -moz-filter: grayscale(100%); }
      @media only screen and (max-width: 37.5em) {
        .works__img:hover img {
          filter: brightness(0.1); } }
    @media only screen and (max-width: 62.5em) {
      .works__img {
        height: 40rem; } }
    .works__img img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      transition: transform 1.3s cubic-bezier(0.165, 0.84, 0.44, 1), filter 1.3s cubic-bezier(0.165, 0.84, 0.44, 1); }
      @media only screen and (max-width: 37.5em) {
        .works__img img {
          filter: brightness(0.1); } }
    .works__img__1 {
      grid-column: 1 / 5;
      grid-row: 1 / 2;
      height: 90rem;
      background-color: #070707;
      border-top: solid 1px #161616;
      border-bottom: solid 1px #161616;
      position: relative; }
      .works__img__1 img {
        padding: 6vw 19vw; }
        @media only screen and (max-width: 75em) {
          .works__img__1 img {
            padding: 10vw 25vw; } }
        @media only screen and (max-width: 62.5em) {
          .works__img__1 img {
            padding: 0; } }
      @media only screen and (max-width: 62.5em) {
        .works__img__1 {
          grid-column: 1 / 2;
          height: 40rem;
          background-color: #161616; } }
      @media only screen and (max-width: 37.5em) {
        .works__img__1 {
          grid-column: 1 / 3; } }
    .works__img__2 {
      grid-column: 1 / 2;
      grid-row: 2 / 3;
      position: relative; }
      @media only screen and (max-width: 62.5em) {
        .works__img__2 {
          grid-column: 1 / 2;
          grid-row: 2 / 3; } }
      @media only screen and (max-width: 37.5em) {
        .works__img__2 {
          grid-column: 1 / 3; } }
    .works__img__3 {
      grid-column: 3 / 4;
      grid-row: 2 / 3;
      position: relative; }
      @media only screen and (max-width: 62.5em) {
        .works__img__3 {
          grid-column: 1 / 2;
          grid-row: 3 / 4; } }
      @media only screen and (max-width: 37.5em) {
        .works__img__3 {
          grid-column: 1 / 3; } }
    .works__img__4 {
      grid-column: 1 / 5;
      grid-row: 3 / 4;
      height: 90rem;
      background-color: #070707;
      border-top: solid 1px #161616;
      border-bottom: solid 1px #161616;
      position: relative; }
      .works__img__4 img {
        padding: 6vw 19vw; }
        @media only screen and (max-width: 75em) {
          .works__img__4 img {
            padding: 10vw 25vw; } }
        @media only screen and (max-width: 62.5em) {
          .works__img__4 img {
            padding: 0; } }
      @media only screen and (max-width: 62.5em) {
        .works__img__4 {
          grid-column: 1 / 2;
          grid-row: 4 / 5;
          height: 40rem;
          background-color: #161616; } }
      @media only screen and (max-width: 37.5em) {
        .works__img__4 {
          grid-column: 1 / 3; } }
    .works__img__5 {
      grid-column: 1 / 2;
      grid-row: 4 / 5;
      position: relative; }
      @media only screen and (max-width: 62.5em) {
        .works__img__5 {
          grid-column: 1 / 2;
          grid-row: 5 / 6; } }
      @media only screen and (max-width: 37.5em) {
        .works__img__5 {
          grid-column: 1 / 3; } }
    .works__img__6 {
      grid-column: 3 / 4;
      grid-row: 4 / 5;
      position: relative; }
      @media only screen and (max-width: 62.5em) {
        .works__img__6 {
          grid-column: 1 / 2;
          grid-row: 6 / 7; } }
      @media only screen and (max-width: 37.5em) {
        .works__img__6 {
          grid-column: 1 / 3; } }
  .works__para {
    grid-row: 3 / 4;
    grid-column: 2 / 4;
    justify-self: center;
    justify-items: center;
    display: grid;
    grid-template-columns: 1fr 1fr; }
    @media only screen and (max-width: 62.5em) {
      .works__para {
        grid-column: 1 / 3; } }
    .works__para__text {
      grid-column: 1 / 3;
      align-self: center;
      grid-row: 1 / 2;
      margin: 5rem 0; }
      @media only screen and (max-width: 62.5em) {
        .works__para__text {
          grid-column: 1 / 3;
          grid-row: 1 / 2; } }
      @media only screen and (max-width: 37.5em) {
        .works__para__text {
          margin: 3rem 0 0 0; } }
    .works__para__svg {
      grid-column: 1 / 3;
      grid-row: 2 / 2;
      margin: 3rem 0 3vh 0; }
      @media only screen and (max-width: 62.5em) {
        .works__para__svg {
          width: 20px; } }
  .works__h1 {
    grid-row: 2 / 3;
    grid-column: 2 / 4;
    display: grid;
    justify-self: center;
    justify-items: center; }
    @media only screen and (max-width: 62.5em) {
      .works__h1 {
        grid-column: 1 / 3;
        justify-self: center; } }
    @media only screen and (max-width: 37.5em) {
      .works__h1 {
        border: none;
        background-color: transparent; } }
    .works__h1__text__main {
      padding: 2rem 0; }
    .works__h1__text {
      font-size: 1.5rem;
      font-weight: 400;
      line-height: 1.2;
      padding: 2rem 0;
      letter-spacing: 1rem;
      font-family: "Roboto", sans-serif; }
      @media only screen and (max-width: 37.5em) {
        .works__h1__text {
          font-size: 1.2rem; } }

.contact {
  grid-column: 2 / 6;
  grid-row: 5 / 6;
  display: grid;
  grid-template-rows: repeat(3, min-content);
  grid-template-columns: repeat(4, 1fr);
  grid-row-gap: 10rem; }
  @media only screen and (max-width: 62.5em) {
    .contact {
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(4, min-content);
      grid-column: 2 / 4; } }
  @media only screen and (max-width: 37.5em) {
    .contact {
      grid-row-gap: 5rem; } }
  .contact__para {
    display: grid;
    grid-template-columns: min-content;
    grid-template-rows: repeat(2, min-content);
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    grid-row-gap: 1rem;
    align-self: center; }
    @media only screen and (max-width: 62.5em) {
      .contact__para {
        grid-column: 1 / 3;
        grid-row: 2 / 3;
        text-align: center;
        justify-items: center;
        grid-template-columns: 1fr 1fr; } }
    .contact__para__text {
      grid-column: 1 / 3; }
    .contact__para svg {
      grid-column: 1 / 3; }
      @media only screen and (max-width: 62.5em) {
        .contact__para svg {
          transform: rotate(90deg);
          width: 50px; } }
  .contact__heading {
    grid-column: 2 / 5;
    grid-row: 2 / 3;
    text-align: center;
    justify-self: center;
    align-self: center;
    display: flex;
    flex-direction: column; }
    @media only screen and (max-width: 62.5em) {
      .contact__heading {
        grid-column: 1 / 3;
        grid-row: 3 / 4; } }
  .contact__bar {
    display: block;
    height: 1px;
    width: 100%;
    background-color: #161616;
    grid-column: 1 / 5;
    grid-row: 1 / 2;
    margin-bottom: 10rem; }
    @media only screen and (max-width: 62.5em) {
      .contact__bar {
        grid-column: 1 / 3;
        grid-row: 1 / 2; } }
    @media only screen and (max-width: 37.5em) {
      .contact__bar {
        margin-bottom: 5rem; } }
  .contact__form {
    grid-column: 2 / 5;
    grid-row: 3 / 4;
    background-color: #070707;
    border-top: 1px solid #161616;
    border-bottom: 1px solid #161616;
    margin: 0 1px; }
    @media only screen and (max-width: 62.5em) {
      .contact__form {
        grid-column: 1 / 3;
        grid-row: 4 / 5; } }
  .contact__btn {
    margin: 3rem 0;
    align-self: flex-start;
    font-size: 1.8rem;
    text-transform: none;
    font-weight: 500;
    letter-spacing: .1rem;
    position: relative;
    z-index: 1;
    padding: 2rem 3rem; }
    .contact__btn:hover {
      color: #070707;
      border-color: solid 1px #e7e7e7; }
    .contact__btn::before {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 50%;
      right: 50%;
      content: "";
      opacity: 0;
      transition: .5s all ease;
      z-index: -1;
      background-color: #e7e7e7; }
    .contact__btn:hover::before {
      left: 0;
      right: 0;
      opacity: 1;
      transition: .5s all ease; }

.form__group {
  margin: 5rem;
  position: relative; }
  @media only screen and (max-width: 37.5em) {
    .form__group {
      margin: 2rem; } }

.form__input {
  width: 100%;
  padding: 2rem 0;
  border: none;
  border-radius: none;
  color: #e7e7e7;
  font-size: 1.7rem;
  font-weight: 400;
  font-family: "Roboto", sans-serif;
  background-color: transparent;
  outline: none;
  display: block;
  height: 5rem;
  border-bottom: solid 1px #161616;
  touch-action: manipulation;
  -webkit-appearance: none;
  cursor: text; }
  .form__input:focus {
    outline: none; }
  .form__input::after {
    content: "";
    display: block;
    width: 100%;
    height: 2px;
    background-color: orange;
    position: absolute;
    top: 0;
    bottom: 0; }
  .form__input:focus ~ .form__label,
  .form__input:valid ~ .form__label {
    outline: none;
    display: block;
    color: #8f8f8f;
    transform: translateY(-2rem);
    font-size: 1.5rem;
    font-weight: 400; }

.form__label {
  position: absolute;
  left: 0;
  top: 10px;
  font-size: 1.8rem;
  font-weight: 300;
  color: #e7e7e7;
  transition: all 0.2s;
  pointer-events: none;
  font-family: "Roboto", sans-serif;
  pointer-events: none; }

.footer {
  grid-column: 2 / 6;
  grid-row: 6 / 7;
  display: grid;
  grid-template-rows: repeat(2, min-content);
  grid-template-columns: repeat(4, 1fr);
  padding: 20vh 0; }
  @media only screen and (max-width: 62.5em) {
    .footer {
      grid-template-rows: repeat(3, min-content);
      grid-template-columns: repeat(2, 1fr);
      grid-row-gap: 4rem;
      grid-column: 2 / 4;
      padding: 10vh 0; } }
  .footer__container {
    grid-row: 1 / 2;
    grid-column: 1 / 5;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, min-content);
    padding: 5rem 0; }
    @media only screen and (max-width: 62.5em) {
      .footer__container {
        grid-column: 1 / 3;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, min-content); } }
  .footer__copy {
    grid-row: 2 / 3;
    grid-column: 1 / 4;
    padding: 15rem 0 0 0;
    align-self: end; }
    @media only screen and (max-width: 62.5em) {
      .footer__copy {
        grid-column: 1 / 3; } }
    @media only screen and (max-width: 37.5em) {
      .footer__copy {
        padding: 10rem 0 0 0; } }
  .footer__copyright {
    grid-row: 2 / 3;
    grid-column: 4 / 5;
    align-self: end;
    letter-spacing: .1rem; }
    @media only screen and (max-width: 62.5em) {
      .footer__copyright {
        grid-row: 3 / 4;
        grid-column: 2 / 3;
        margin-top: 10rem; } }
  .footer__text {
    grid-row: 1 / 2;
    grid-column: 1 / 2; }
  .footer__social {
    font-size: 2.5rem;
    color: #e7e7e7;
    text-decoration: none;
    font-weight: 300;
    transition: all .2s; }
    .footer__social:hover {
      color: #e7e7e7; }
    .footer__social__1 {
      grid-row: 2 / 3;
      grid-column: 1 / 2; }
    .footer__social__2 {
      grid-row: 2 / 3;
      grid-column: 2 / 3; }
    .footer__social__3 {
      grid-row: 2 / 3;
      grid-column: 3 / 4; }
      @media only screen and (max-width: 62.5em) {
        .footer__social__3 {
          grid-row: 3 / 4;
          grid-column: 1 / 2; } }
    .footer__social__4 {
      grid-row: 2 / 3;
      grid-column: 4 / 5; }
      @media only screen and (max-width: 62.5em) {
        .footer__social__4 {
          grid-row: 3 / 4;
          grid-column: 2 / 3; } }

.hero-video {
  grid-row: 1 / 2;
  grid-column: 2 / 7;
  height: 100%;
  width: 100%;
  overflow: hidden;
  z-index: -2001;
  position: relative; }
  @media only screen and (max-width: 37.5em) {
    .hero-video {
      display: none; } }
  .hero-video__overlay {
    display: block;
    height: 100%;
    width: 100%;
    background-image: linear-gradient(to top, black, rgba(0, 0, 0, 0.918), rgba(0, 0, 0, 0.925));
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1; }
  .hero-video__content {
    height: 100%;
    width: 100%;
    object-fit: cover; }

.nav {
  z-index: 15;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content min-content;
  grid-template-columns: 15vw repeat(4, 1fr) 15vw; }
  @media only screen and (max-width: 62.5em) {
    .nav {
      grid-template-columns: 8vw repeat(2, minmax(min-content, 2fr)) 8vw; } }
  .nav__rule {
    display: block;
    background-color: #0c0c0c;
    width: 100%;
    height: 100%;
    grid-row: 1 / -1;
    z-index: -1; }
    .nav__rule__1 {
      grid-column: 1 / 2;
      z-index: 1; }
    .nav__rule__2 {
      grid-column: 2 / 3;
      border-right: none; }
    .nav__rule__3 {
      grid-column: 3 / 4;
      border-right: none; }
    .nav__rule__4 {
      grid-column: 4 / 5;
      border-right: none; }
      @media only screen and (max-width: 62.5em) {
        .nav__rule__4 {
          border-right: none; } }
    .nav__rule__5 {
      grid-column: 5 / 6;
      border-right: none; }
      @media only screen and (max-width: 62.5em) {
        .nav__rule__5 {
          display: none; } }
    .nav__rule__6 {
      grid-column: 6 / 7; }
      @media only screen and (max-width: 62.5em) {
        .nav__rule__6 {
          display: none; } }

.navigation {
  grid-column: 2 / 6;
  grid-row: 2 / 3;
  backface-visibility: hidden;
  align-self: center;
  text-align: center; }
  @media only screen and (max-width: 62.5em) {
    .navigation {
      grid-column: 2 / 4; } }
  .navigation__lic {
    margin: 3vh 0; }
  .navigation__item {
    list-style: none; }
  .navigation__link {
    color: #e7e7e7;
    text-decoration: none;
    font-size: 9rem;
    font-family: inherit;
    font-weight: 300;
    line-height: 1;
    transition: all 1s; }
    @media only screen and (max-width: 62.5em) {
      .navigation__link {
        font-size: 7rem; } }
    @media only screen and (max-width: 37.5em) {
      .navigation__link {
        font-size: 4.5rem; } }
    .navigation__link:hover {
      color: #8f8f8f; }

.navigation__social {
  font-size: 2.5rem;
  color: #e7e7e7;
  text-decoration: none;
  font-weight: 300;
  text-align: center;
  padding-bottom: 10vh; }
  @media only screen and (max-width: 62.5em) {
    .navigation__social {
      display: block;
      padding-bottom: 3vh;
      align-self: end; } }
  @media only screen and (max-width: 37.5em) {
    .navigation__social {
      font-size: 1.8rem; } }
  .navigation__social__1 {
    grid-column: 2 / 3;
    grid-row: 3 / 4; }
    @media only screen and (max-width: 62.5em) {
      .navigation__social__1 {
        padding-bottom: 5vh; } }
  .navigation__social__2 {
    grid-column: 3 / 4;
    grid-row: 3 / 4; }
    @media only screen and (max-width: 62.5em) {
      .navigation__social__2 {
        grid-column: 2 / 3;
        grid-row: 4 / 5;
        padding-bottom: 5vh; } }
  .navigation__social__3 {
    grid-column: 4 / 5;
    grid-row: 3 / 4; }
    @media only screen and (max-width: 62.5em) {
      .navigation__social__3 {
        grid-column: 3 / 4;
        grid-row: 3 / 4;
        padding-bottom: 5vh; } }
  .navigation__social__4 {
    grid-column: 5 / 6;
    grid-row: 3 / 4; }
    @media only screen and (max-width: 62.5em) {
      .navigation__social__4 {
        grid-column: 3 / 4;
        grid-row: 4 / 5;
        padding-bottom: 5vh; } }

@keyframes revBlock {
  0% {
    left: 0;
    width: 0; }
  50% {
    left: 0;
    width: 100%; }
  100% {
    left: 100%;
    width: 0; } }

.js--b {
  opacity: 0; }

.js--nav {
  visibility: hidden; }

.js--navr {
  width: 0;
  transition: all 1s cubic-bezier(0.78, 0, 0.2, 0.89); }

.js--navr.show {
  width: 100%; }

.js--navi {
  transform: translateY(100%);
  transition: all 2s cubic-bezier(0.19, 1, 0.22, 1); }

.js--navi.show {
  transform: translateY(0); }

.js--ns {
  opacity: 0;
  transform: translateX(2rem); }

.js--cl {
  transform: translateX(-100%);
  opacity: 0; }

.js--cr {
  height: 0%; }

.js--cr.show {
  height: 100%; }

.js--hv {
  transform: translateY(-100%); }

.js--sb {
  opacity: 1; }

.js--sb-m {
  opacity: 1; }

.js--ss {
  opacity: 1; }

.js--sb-mi {
  transition: .3s; }
  .js--sb-mi::before {
    transition: .3s; }
  .js--sb-mi::after {
    transition: .3s; }

.js--sb-mi.active {
  background-color: transparent; }
  .js--sb-mi.active::before {
    transform: translateY(-0.8rem) rotate(45deg); }
  .js--sb-mi.active::after {
    transform: translateY(0.8rem) rotate(-45deg); }

.js--r {
  opacity: 1; }

.js--lt {
  transform: translate(0, 100%);
  position: relative;
  transition: all 2s cubic-bezier(0.19, 1, 0.22, 1); }

.js--lt.show {
  transform: translate(0, 0); }

.js--hi {
  overflow: hidden;
  display: inline-block;
  position: relative;
  opacity: 0; }
  .js--hi::after {
    content: " ";
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #070707;
    z-index: 1;
    transition: left 1.5s cubic-bezier(0.19, 1, 0.22, 1); }

.js--hi.show::after {
  left: 100%; }

.js--hi-m {
  transform: scale(1.2);
  transition: transform cubic-bezier(0.165, 0.84, 0.44, 1); }

.js--hi-m.scale {
  transform: scale(1); }

.js--h1 {
  position: relative;
  overflow: hidden; }

.js--h1-m {
  opacity: 0;
  transform: translate(0, 100%);
  position: relative;
  transition: all 2s cubic-bezier(0.19, 1, 0.22, 1); }

.js--h1-m.show {
  opacity: 1;
  transform: translate(0, 0); }

.js--ah-1,
.js--ah-2 {
  transform: translateX(-100%);
  opacity: 0; }

.js--ab {
  transform: translateX(-100%);
  opacity: 0; }

.js--at,
.js--at-2 {
  opacity: 0;
  transform: translateY(5rem); }

.js--ai {
  overflow: hidden;
  display: inline-block;
  opacity: 0;
  position: relative; }
  .js--ai::after {
    content: " ";
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #070707;
    z-index: 2;
    transition: left 1.5s cubic-bezier(0.19, 1, 0.22, 1); }

.js--ai.show::after {
  left: 100%; }

.js--ai-m {
  transform: scale(1.2);
  transition: transform 2s cubic-bezier(0.165, 0.84, 0.44, 1); }

.js--ai-m.scale {
  transform: scale(1); }

.js--sh {
  opacity: 0;
  transform: translateX(-100%); }

.js--sbr-1,
.js--sbr-2,
.js--sbr-3,
.js--sbr-4 {
  opacity: 0;
  width: 0;
  transition: all cubic-bezier(0.165, 0.84, 0.44, 1); }

.js--sh2-1,
.js--sh2-2,
.js--sh2-3,
.js--sh2-4 {
  opacity: 0;
  transform: translateY(100%); }

.js--sh5-1,
.js--sp-1,
.js--sh5-2,
.js--sp-2,
.js--sh5-3,
.js--sp-3,
.js--sh5-4,
.js--sp-4 {
  opacity: 0;
  transform: translateY(100%); }

.js--wba {
  width: 0; }

.js--wc-1,
.js--wc-4 {
  opacity: 0; }

.js--wc-2,
.js--wc-3,
.js--wc-5,
.js--wc-6 {
  overflow: hidden;
  display: inline-block;
  opacity: 0;
  position: relative; }
  .js--wc-2::after,
  .js--wc-3::after,
  .js--wc-5::after,
  .js--wc-6::after {
    content: " ";
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #070707;
    z-index: 1;
    transition: left 1.5s cubic-bezier(0.19, 1, 0.22, 1); }

.js--wc-1.show::after,
.js--wc-2.show::after,
.js--wc-3.show::after,
.js--wc-4.show::after,
.js--wc-5.show::after,
.js--wc-6.show::after {
  left: 100%; }

.js--wi-1,
.js--wi-2,
.js--wi-3,
.js--wi-4,
.js--wi-5,
.js--wi-6 {
  transform: scale(1.2);
  transition: transform cubic-bezier(0.165, 0.84, 0.44, 1); }

.js--wi-1.scale,
.js--wi-2.scale,
.js--wi-3.scale,
.js--wi-4.scale,
.js--wi-5.scale,
.js--wi-6.scale {
  transform: scale(1); }

.js--wh1,
.js--wh2,
.js--wpt {
  transform: translate(0, 100%);
  position: relative;
  opacity: 0;
  transition: all 2s cubic-bezier(0.19, 1, 0.22, 1); }

.js--wh1.show,
.js--wh2.show,
.js--wpt.show {
  transform: translate(0, 0);
  opacity: 1; }

.js--svg {
  opacity: 0;
  transform: rotate(90deg) translateX(-50%); }

.js--wh2-1,
.js--wh3-1,
.js--wbtn-1,
.js--wh2-2,
.js--wh3-2,
.js--wbtn-2,
.js--wh2-3,
.js--wh3-3,
.js--wbtn-3,
.js--wh2-4,
.js--wh3-4,
.js--wbtn-4,
.js--wh2-5,
.js--wh3-5,
.js--wbtn-5,
.js--wh2-6,
.js--wh3-6,
.js--wbtn-6 {
  opacity: 0;
  transform: translateY(10rem); }

.js--cb {
  width: 0; }

.js--ch4 {
  transform: translateX(-100%);
  opacity: 0; }

.js--ch-1,
.js--ch-2 {
  transform: translate(0, 100%);
  position: relative;
  opacity: 0;
  transition: all 3s cubic-bezier(0.19, 1, 0.22, 1); }

.js--ch-1.show,
.js--ch-2.show {
  transform: translate(0, 0);
  opacity: 1; }

.js--cfi {
  transform: translateY(200%);
  opacity: 0; }

.js--csvg {
  opacity: 0; }

.js--fm {
  opacity: 0;
  transform: translateX(-100%); }

.js--fs-1,
.js--fs-2,
.js--fs-3,
.js--fs-4 {
  opacity: 0;
  transform: translatex(2rem); }

.js--fc {
  opacity: 0;
  transform: translateX(-100%); }

.js--fcr {
  opacity: 0;
  transform: translateX(2rem); }

.loader {
  position: fixed;
  width: 100%;
  height: 100vh;
  background: #070707;
  overflow: hidden;
  z-index: 1000; }
  .loader__container {
    position: absolute;
    top: 45%;
    left: 50%;
    display: block;
    width: 100%;
    transform: translate(-50%, -50%);
    overflow: hidden; }
  .loader__text {
    color: #e7e7e7;
    text-transform: uppercase;
    letter-spacing: 3rem;
    font-weight: 400;
    font-size: 1.2rem;
    text-align: center;
    line-height: 1; }
    @media only screen and (max-width: 75em) {
      .loader__text {
        letter-spacing: 1rem;
        text-align: center; } }

.pace {
  pointer-events: none;
  user-select: none;
  z-index: 2000;
  position: fixed;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 400px;
  border: 0px;
  height: 1px;
  overflow: hidden;
  background: #1b1b1b;
  opacity: 0; }

.pace .pace-progress {
  box-sizing: border-box;
  transform: translate3d(0, 0, 0);
  max-width: 400px;
  position: fixed;
  z-index: 2000;
  display: block;
  position: absolute;
  top: 0;
  right: 100%;
  height: 100%;
  width: 100%;
  background: #161616;
  opacity: 0; }

.pace.pace-inactive {
  display: none; }
