.project {
  &__container {
    display: flex;
    flex-wrap: wrap;
  }

  &__item {
    margin-bottom: 50px;
    flex: 40%;
    display: flex;
    flex-direction: column;
    position: relative;

    @media (max-width: 600px) {
      flex: 100%;

      &:not(:last-child) {
        margin-bottom: 50px;
      }
    }

    &:hover {
      .text {
        opacity: 1;
      }

      .image img {
        transform: scale(1.1);
        filter: brightness(0.2);
      }
    }

    &:nth-child(odd) {
      margin-right: 50px;

      @media (max-width: 600px) {
        margin-right: 0;
      }
    }

    &:nth-child(5) {
      margin-right: 0px;
    }

    .image {
      height: 700px;
      width: 100%;
      overflow: hidden;

      @media (max-width: 1000px) {
        height: 500px;
      }

      img {
        height: 100%;
        width: 100%;
        object-fit: cover;
        transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
      }
    }

    .text {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      opacity: 0;
      transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);

      &__title {
        font-weight: normal;
        font-size: 30px;
        color: var(--main-color);
        margin-bottom: 20px;
        z-index: 1;
      }

      span {
        color: var(--main-color);
        font-size: 13px;
        font-weight: 300;
        letter-spacing: 2px;
      }
    }
  }
}
