*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

*:focus {
  outline: none;
}

html {
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  height: 100%;
  width: 100%;
  scrollbar-color: #dddddd transparent;
  scrollbar-width: thin;
  scroll-behavior: smooth;
  overflow-x: hidden;
  cursor: none;
  color: var(--dark-color);
}

body::-webkit-scrollbar-track {
  background-color: var(--dark-color);
}

body::-webkit-scrollbar {
  width: 3px;
}

body::-webkit-scrollbar-thumb {
  background-color: var(--secondary-color);
}

:root {
  --main-color: #fff4f4;
  --secondary-color: black;
  --tertiary-color: #1d1d1d;
  --dark-color: #0c0c0c;
}

a {
  text-decoration: none;
  color: var(--main-color);
}

.App {
  text-align: center;
  color: var(--dark-color);
  position: relative;
  font-weight: 300;
  background-color: var(--main-color);
}

.App > * {
  margin: 0;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
  transition: background-color 5000s ease-in-out 0s;
}
